<div class="wrapper wrapper-content">
                <div class="middle-box text-center animated fadeInRightBig">
                    <h3 class="font-bold">Welcome to RSIMU</h3>
                    <div class="error-desc">
                           RSIMU is a data visualization app which presents you the latest information
                           of stock market. Please login to access the site features such as stock price, tables and plots.
                          <br>The stock data is fetched from <a href="Quandle.com" >Quandle</a> website.
                    <!--    <br><a href="index.html" class="btn btn-primary m-t"></a>-->
                    </div>
                </div>
            </div>
