
<div  class="col-lg-12">
                <div class="ibox float-e-margin">
                    <div class="ibox-title">
                        <h5>Open vs. High price</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                            <div class="flot-chart dashboard-chart">
                                <div class="flot-chart-content"   style="height: 200px; width: 750px"  id="plotView-container">

                    </div>
                </div>
            </div>
          </div>
        </div>
<!-- <div class="flot-chart dashboard-chart">
   <div class="flot-chart-content" id="plotView-container"></div>
</div> -->
