<li class="nav-header">
    <div class="dropdown profile-element">
      <span><img alt="image" class="img-circle" id="profile_picture" [src]="profile_pic" /></span>
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" id="user_id_avator">Hello {{user_id}}</strong>
      </span> <span class="text-muted text-xs block">Data Scientists <b class="caret"></b></span> </span> </a>
      <ul class="dropdown-menu animated fadeInRight m-t-xs">
          <li><a href="http://mysites.monsanto.com/_layouts/EditProfile.aspx?accountname=NORTH_AMERICA%5CMJADA">Profile</a></li>
          <li><a href="contacts.html">Contacts</a></li>
          <li><a href="https://webmail.monsanto.com/owa/auth/logon.aspx">Mailbox</a></li>
          <li class="divider"></li>
          <li><a href="http://rstudio.monsanto.com/auth-sign-in">Logout</a></li>
      </ul>
    </div>
    <div class="logo-element">
        RSIMU
    </div>
</li>
